 ┏━━<i><b>Alai-DeepLearning</b></i>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
###  &nbsp;&nbsp; **✎&nbsp;&nbsp;Week1. Python의 기초 문법**
# Section 2. Python의 변수와 연산

### _Objective_
1. 변수를 만들고, 저장하는 방법을 배웁니다. <br>
2. Python으로, 숫자를 계산하는 방법을 배웁니다.<br>

┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛


# \[ 1. Python의 변수 \]

---

---
> *Python에서 Data를 담는 "변수" 라는 개념에 대해서 배워보겠습니다.*

## 1. 변수는 무엇인가.
<hr>
+ 변수는 데이터를 담는 공간입니다.

### (1) 변수에 값을 저장하기

In [1]:
a = True # Boolean 형(참 거짓)
x = 1 # 정수형
y = 1.2 # 실수형
z = "string" # 문자열형

lst = [1,2,3,4,"a","b","c","d"] # list 형

In [2]:
# 1을 담았던 x에 다른 값을 덮어 씌울 수 있습니다.
x = "hello python"

In [3]:
# 문자와 숫자
hello1 = "Hello Python"

# 띄어쓰기 대신 _로 구성할 수 있습니다. 
greet_person = "안녕하세요 여러분!"

In [4]:
# 예외적으로 변수의 이름에 숫자가 먼저 나올 수는 없습니다.
1hello = "Hello Python"

SyntaxError: invalid syntax (<ipython-input-4-74d649411d77>, line 2)

### (2) 변수에 변수를 저장하기
변수에 변수를 대입하게 되면, 오른쪽의 변수가 지칭하고 있는 값을 왼쪽의 변수가 같이 지칭하게 됩니다.

In [5]:
# y에 있었던 값을 x에 담을 수 있습니다.
x = 1
y = 1.5

print("Before x = y")
print("x : ", x)
print("y : ", y)

Before x = y
x :  1
y :  1.5

In [6]:
x = y

print("After x = y")
print("x : ",x)
print("y : ",y)

After x = y
x :  1.5
y :  1.5

### (3) 변수에 결과를 저장하기

In [7]:
# x에 1과 2를 더한 값을 저장할 수 있습니다.
x = 1 + 2
x

3

# \[ 2. Python에서의 연산 \]

___

___

> *Python에서 나오는 다양한 연산자(+,-,*,/,//,**)에 대해 배워봅시다.*<br>
> *숫자인지, 참거짓 형인지, 문자열인지에 따라 연산자가 따로 구현이 되어 있습니다.*<br>
> *각각 나눠서 알아봅시다.*

## 1. 정수/실수의 연산자들
<hr>

### (1) 더하기

In [8]:
1 + 2

3

In [9]:
# 정수형과 실수형을 연산하면, 
# 실수형으로 결과값이 나타납니다.
1 + 1.2

2.2

In [10]:
# 실수형의 경우에는 컴퓨터의 부동소수점 방식으로 인해, 
# 약간의 오차가 발생합니다.
1.2 + 2.4

3.5999999999999996

### (2)  빼기

In [11]:
3 - 2

1

In [12]:
3 - 1.4

1.6

In [13]:
3.2 - 1.4

1.8000000000000003

### (3) 곱하기

In [14]:
3 * 2

6

In [15]:
3.2 * 2

6.4

In [16]:
3.2 * 2.1

6.720000000000001

### (4) 나누기

In [17]:
4 / 2 # 나누기를 할 경우 자동으로 실수형으로 형 변환 됩니다.

2.0

In [18]:
4.2 / 2.1

2.0

In [19]:
4.2 / 0 # 0으로 나누기를 시도할 경우, zeroDivisionError로 에러가 발생합니다.

ZeroDivisionError: float division by zero

### (5) 몫

In [20]:
5 // 2 # 나누기의 몫 부분을 반환합니다.

2

### (6) 나머지

In [21]:
5 % 2

1

### (7) 지수

$3**2 = 3^2$

In [22]:
3 ** 2

9

In [23]:
3 ** 2.1

10.04510856630514

In [24]:
3.1 ** 2

9.610000000000001

##  2. 비교 연산자와 참 거짓 자료형(boolean)을 위한 연산자들
<hr>

+ 파이썬에서 지원하는 비교 연산자는 아래와 같이 존재합니다.

| 연산자 | 설명 |
| ---- | ---- |
| a==b | 같음 |
| a!=b | 다름  |
| a>b  | a가 b보다 큼 |
| a>=b | a가 b보다 크거나 같음 |
| a<b  | a가 b보다 작음 |
| a<=b | a가 b보다 작거나 같음 |

### (1) ==

In [25]:
1 == 1

True

### (2) !=

In [26]:
1 != 2

True

### (3) >

In [27]:
2 > 2

False

### (4) >=

In [28]:
2 >= 2

True

### (5) <

In [29]:
2 < 3

True

### (6) <=

In [30]:
2 <= 3

True

### (7) and 연산

and 연산은 두 개 모두 참일 때 참을 반환합니다.

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
False and False

False

### (8) or 연산
or 연산은 두 개 중 하나라도 참일 때 참을 반환합니다.

In [34]:
True or True

True

In [35]:
True or False

True

In [36]:
False or False

False

### (9) not 연산
not 연산은 참 거짓을 뒤집어 반환합니다.

In [37]:
not True

False

In [38]:
not False

True

### (10) and or not 조합

and or not 연산자는 아래와 같이 이용할 수 있습니다.

In [39]:
# x,y,z가 다음처럼 주어졌을 때,
x = 1
y = 3
z = 4

# 비교 수식들을 조합하여 사용할 수 있습니다.
(z > x and z > y) or not (y <= x)

True

### (11) is 연산자

같음을 비교하는 연산에는 `==` 외에도, `is` 연산자가 있습니다. `==`은 두 개의 **값**이 같은지를 비교하고, `is`는 두 개의 **주소값**이 같은지를 비교합니다.

In [40]:
# 다음 Chapter에서 배울, list을 잠시 가져오겠습니다.
a = [1,2,3,4,5] # list 선언
b = [1,2,3,4,5] # a와 동일한 값을 가져온 list 선언

In [41]:
a == b # 두 list의 값이 같은지를 비교

True

In [42]:
a is b # 두 list의 주소값이 같은지를 비교

False

In [43]:
print("a가 저장된 공간의 주소 위치 : ", id(a))
print("b가 저장된 공간의 주소 위치 : ", id(b))

a가 저장된 공간의 주소 위치 :  4586409480
b가 저장된 공간의 주소 위치 :  4587719688

In [44]:
a = [1,2,3,4,5] 
b = a # 이경우, a의 주소값을 b에 담게 됩니다.

In [45]:
a == b

True

In [46]:
a is b

True

In [47]:
print("a가 저장된 공간의 주소 위치 : ", id(a))
print("b가 저장된 공간의 주소 위치 : ", id(b))

a가 저장된 공간의 주소 위치 :  4587719176
b가 저장된 공간의 주소 위치 :  4587719176

`True`,`False`,`None`과 같이 자주 쓰이는 값들을 Python에서는 같은 주소값에 늘 위치시킵니다. 

그래서 True, False의 경우에는 일반적으로 `is` 연산을 이용합니다.

In [48]:
a = True

In [49]:
a == True

True

In [50]:
a is True

True

In [51]:
%%timeit
a == True

32.9 ns ± 0.227 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [52]:
%%timeit
# == 보다 is 연산이 좀 더 빠르다
a is True

25.8 ns ± 0.843 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

## 3. 변수간 연산자 적용하기
<hr>

### (1) 모든 숫자 연산은 변수에도 동일하게 적용할 수 있습니다.
┌─<i> ✍︎ Example  </i>─────────────┐ <br>

  $x=3,y=2$일 때, <br>
  $x^2 + y^3 + 2xy+3x + 4y$를 계산하시오
  
   
└────────────────────┘

In [53]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*x + 4*y

46

### (2) 우리가 알고있는 숫자의 연산과 같이 괄호()를 통해 연산의 우선순위를 정할 수 있습니다.

┌─<i> ✍︎ Example  </i>─────────────┐ <br>
 $x=3,y=2$일 때,<br>
 $x^2 + y^3 + 2xy+ 3(x + 4y)$를 계산하시오
 
└────────────────────┘

In [54]:
x = 3
y = 2
x**2 + y**3 + 2*x*y + 3*(x + 4*y)

62

# \[ 3. Python에서의 문자열 \]
<hr><hr>
> *숫자 이외에도 문자열을 직접 처리하거나, 변수에 담아 사용할 수 있습니다. Python에서는 문자열을 활용하는 강력한 기능들이 있습니다.*

## 1. 문자열의 입력과 연산
<hr>
+ 파이썬에서는 문자열을 매우 쉽게 만들고 처리할 수 있습니다.

### (1) 문자열 만들기
문자열을 만들기 위해서는, `"안녕하세요"`나 `'안녕하세요'`처럼, `"` 혹은 `'`으로 감싸주면 된다.

In [55]:
str1 = "hello"
str2 = 'Python'

print(str1)
print(str2)

hello
Python

긴 줄을 문자열로 넣고 싶다면, `"""`나 `'''`처럼 3번 연달아서 감싸 주면된다.

In [56]:
str1 = """
5Days for Deep Learning 코스에 오신 것을
진심으로 환영합니다!
"""
print(str1)

5Days for Deep Learning 코스에 오신 것을
진심으로 환영합니다!

### (2) 문자열 더하기

In [57]:
str1 = "Hello,"
str2 = "world!"
str1 + str2

'Hello,world!'

### (3) 문자열 곱하기

문자열을 곱할 경우, 해당 문자열을 곱한 수만큼 반복한다.

In [58]:
str1 = "Hello!"
str1 * 3

'Hello!Hello!Hello!'

### (4) 문자열 길이 구하기

In [59]:
str1 = "Hello~ "
len(str1) # 총 6개의 글자가 존재(space도 포함)

7

### (5) 문자열 인덱싱

list, tuple에서의 인덱싱과 같은 동일한 방식으로 출력할 수 있다.

In [60]:
str1 = "This is Python World!"
str1[3] # Python에서 인덱싱은 0부터 시작합니다. 3은 4번째 자리를 의미합니다.

's'

In [61]:
str1[0:4] # 0부터 4미만까지 가져올 수 있습니다.

'This'

In [62]:
len(str1)

21

### (6) 문자열 쪼개기

문자열 자료형에는 `split`이라는 내장 함수가 존재한다. 이를 기준으로 문자열을 쪼갤 수 있다.

In [63]:
str1 = "This is Python World!"
str1.split(" ") # 공백을 기준으로 나누기

['This', 'is', 'Python', 'World!']

In [64]:
str1.split('s') # 알파벳 s을 기준으로 나누기

['Thi', ' i', ' Python World!']

## 2. 문자열 포멧팅
<hr>
+ 문자열 포맷팅이란 문자열 내에 어떤 부분을 비워두고, 원하는 값으로 채워놓을 수 있도록 만든 것이다.

### (1) 문자열의 반복 출력을 위한 문자열 포멧팅


```python
accuracy_sentence = "현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다."

```

> 우리가 머신러닝을 학습할 때에는 위와 같은 문장을 반복하여 만들어야 할때가 존재한다. 위 문장을 반복적으로 출력하기 위해서는 아래처럼 할수도 있다.

In [65]:
step = 32
accuracy = 92.3

In [66]:
"현재 "+str(step)+"번째 학습하였습니다. 테스트의 정확도는 "+str(accuracy)+"%입니다."

'현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다.'

위처럼 표현할 수 있지만 아래와 같이 좀 더 명확하고 간단하게 쓸 수 있다. 포맷팅은 중괄호({})로 비워두고 `.format()`에 중괄호 순서대로 대입하면 된다.

In [67]:
# format안에 들어가는 인자는 
# 문자열이 아니더라도, 자동으로 문자열로 바꾸어서 입력해준다.
"현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy)

'현재 32번째 학습하였습니다. 테스트의 정확도는 92.3%입니다.'

아래와 같이 계속 진행될 경우, 글자의 길이가 달라져, 단이 맞지 않을 수 있다.

In [68]:
step = 1
accuracy = 82.61921
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))
step = 2
accuracy = 85.415
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))

# .... 학습이 진행 중

step = 99
accuracy = 92.5123
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))
step = 100
accuracy = 94.5
print("현재 {}번째 학습하였습니다. 테스트의 정확도는 {}%입니다.".format(step, accuracy))

현재 1번째 학습하였습니다. 테스트의 정확도는 82.61921%입니다.
현재 2번째 학습하였습니다. 테스트의 정확도는 85.415%입니다.
현재 99번째 학습하였습니다. 테스트의 정확도는 92.5123%입니다.
현재 100번째 학습하였습니다. 테스트의 정확도는 94.5%입니다.

이런 경우를 위해, `format`함수에서는 다양한 포맷팅 기법을 제공해준다.

In [69]:
'{:>5}'.format('123') # 오른쪽 정렬로 총 글자 폭이 5만큼, 공백은 스페이스로 채워준다.

'  123'

In [70]:
'{:>10}'.format('123') # 오른쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'       123'

In [71]:
'{:<10}'.format('123') # 왼쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'123       '

In [72]:
'{:<10}'.format(12.3) # 왼쪽 정렬로 총 글자 폭이 10만큼, 공백은 스페이스로 채워줌

'12.3      '

In [73]:
"{:.3f}".format(12.38898) # 소숫점 3째자리 까지 잘라서 출력

'12.389'

보다 결과 값에 대한 출력을 깔끔하게 할 수 있다.

In [74]:
step = 1
accuracy = 82.61921
print("현재 {:>3}번째 학습하였습니다. 테스트의 정확도는 {:.3f}%입니다.".format(step, accuracy))
step = 2
accuracy = 85.415
print("현재 {:>3}번째 학습하였습니다. 테스트의 정확도는 {:.3f}%입니다.".format(step, accuracy))

# .... 학습이 진행 중

step = 99
accuracy = 92.5123
print("현재 {:>3}번째 학습하였습니다. 테스트의 정확도는 {:.3f}%입니다.".format(step, accuracy))
step = 100
accuracy = 94.5
print("현재 {:>3}번째 학습하였습니다. 테스트의 정확도는 {:.3f}%입니다.".format(step, accuracy))

현재   1번째 학습하였습니다. 테스트의 정확도는 82.619%입니다.
현재   2번째 학습하였습니다. 테스트의 정확도는 85.415%입니다.
현재  99번째 학습하였습니다. 테스트의 정확도는 92.512%입니다.
현재 100번째 학습하였습니다. 테스트의 정확도는 94.500%입니다.

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24

---