 ┏━━<i><b>Alai-DeepLearning</b></i>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
###  &nbsp;&nbsp; **✎&nbsp;&nbsp;Week1. Python의 기초 문법**
# Section 3. Python의 자료구조 1(List, Tuple)


### _Objective_
1. 파이썬에서는 기본 변수이외에도 List, Tuple, Set, Dictionary 와 같은 다양한 자료구조를 지원합니다. <br>
2. 이번 시간에는 그 중 순서가 있는 자료형인 List와 Tuple에 대해 다루어 보도록 하겠습니다.<br>
  
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

# \[ 1. List \]

---

---

> *1. list(리스트)는 여러개의 객체를 담을 수 있습니다.*<br>
> *2. list는 요소들의 순서가 유의미합니다.*<br>
> *3. list는 한번 생성된 이후 수정, 삭제, 추가가 가능합니다.*

## 1. List 의 생성과 원소
<hr>

### (1) List의 생성
list 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [1]:
# 비어있는 List를 생성합니다.
lst0 = []
lst0 = list()
lst0

[]

In [2]:
# 여러개의 숫자들을 저장합니다.
lst1 = [1,2,3,4,5]
lst1

[1, 2, 3, 4, 5]

In [3]:
# 정수 이외의 실수나 text도 담을 수 있습니다.
lst2 = [1,2,3,5.5,"str1"]
lst2

[1, 2, 3, 5.5, 'str1']

In [4]:
# 리스트 내에 리스트 또는 변수를 담을 수 있습니다.
var1 = 1
lst3 = [var1, 2,3,4, lst2]
lst3

[1, 2, 3, 4, [1, 2, 3, 5.5, 'str1']]

### (2) List에서 값 얻기
list 뒤의 대괄호에 index를 넣어 값을 얻습니다.

In [5]:
lst = [1,2,3,4,5]

In [6]:
# list의 2번째 index 값 가져오기
# *주의 : python 에서 index는 0부터 시작합니다.
element_1 = lst[2]
element_1

3

In [7]:
# list의 마지막 값 얻기
# 마지막 index은 -1로, 역 순으로 -2, -3으로 진행합니다.
element_4 = lst[-2]
element_4

4

In [8]:
# list의 범위 지정
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용합니다.
element_2 = lst[1:4]
element_2

[2, 3, 4]

In [9]:
# list의 세번째 이후 값 얻기
element_3 = lst[3:]
element_3

[4, 5]

In [10]:
# list의 범위에서 step 값을 주어 그 값만큼 건너뛰어 가져올 수 있습니다.
element_5 = lst[0:5:2]
element_5

[1, 3, 5]

In [11]:
# list에 값이 있는지는 in 연산자를 통해 알 수 있습니다.
1 in lst

True

### (3) List에 값 추가하기
list는 `append()` 또는 `insert()`를 통해 값을 추가 해 줍니다.

In [12]:
lst = [1,2,3,4,5]

In [13]:
# lst의 가장 뒤에 값 추가하기
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

In [14]:
# lst 의 세번째에 2.5의 값 추가하기
lst.insert(2,2.5)
lst

[1, 2, 2.5, 3, 4, 5, 6]

### (4) List의 특정 원소값 수정하기
lst 의 특정 원소를 수정하는 것은 index를 활용

In [15]:
# lst의 세번째 값을 6으로 바꾸기
lst = [1,2,3,4,5]
lst[2] = 6
lst

[1, 2, 6, 4, 5]

list에 우리가 원하는 값의 index를 알기 위해서는 `lst.index(value)`를 활용

In [16]:
lst = [1,2,3,4,5]
lst.index(4) # 값이 4인 index의 값을 반환

3

In [17]:
lst.index(7) # 없으면 Error를 반환

ValueError: 7 is not in list

### (5) List의 특정 원소 제거하기
`del` 을 이용한 방법과 `L.remove()`를 이용한 방법, `L.pop()`을 이용하는 방법이 있습니다.

In [18]:
lst = [1,2,3,4,5]
del lst[0] # 0번째 인덱스를 제거
lst

[2, 3, 4, 5]

In [19]:
lst = [1,2,3,4,5]
# remove를 이용하여 lst내의 4 를 제거하기
lst.remove(4)
lst

[1, 2, 3, 5]

In [20]:
# 만약 remove(#) : # 의 값이 list에 존재하지 않을 경우 ValueError 가 발생한다.
lst.remove(0) # lst내에 0이 없기 때문에 제거안됨
lst

ValueError: list.remove(x): x not in list

In [21]:
lst = [1,2,3,4,5]
# pop을 할 경우, 가장 마지막 원소을 반환하고, lst에서 제거됩니다.
lst.pop()

5

In [22]:
lst

[1, 2, 3, 4]

## 2. List의 연산
---
* List에서도 숫자와 같이 여러 연산을 적용할 수 있습니다.

### (1) List 더하기 (+)

`+`, 더하기 연산을 통해 두 List를 이을 수 있습니다.

In [23]:
lst1 = [1,2,3,4,5]
lst2 = [6,7,8,9,10]
lst1 + lst2 # List 합치기

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### (2) List 반복 (*)

`*`, 곱하기 연산을 통해 List를 반복할 수 있습니다.

In [24]:
lst1 * 3 # List 반복

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### (3) 두 List를 교차하기

In [25]:
lst1 = [1,2,3,4,5]
lst2 = ["a","b","c","d","e"]

# list(zip(lst1,lst2))를 하면, 
# 두 List가 교차로 들어가게 됩니다.
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]


# \[ 2. Tuple \]

---

---

> *tuple(튜플)은 List와 비슷하지만, 한 번 생성하면 값을 변경할 수 없는 객체의 집합입니다.*

## 1.Tuple의 생성과 원소
---
<i> </i>

### (1) Tuple의 생성

list와 비슷한 방식으로 동작합니다.

In [26]:
# 비어있는 Tuple를 생성합니다.
tpl = ()
tpl = tuple()
tpl

()

In [27]:
# 여러개의 숫자들을 저장합니다.
tpl = (1,2,3,4,5)
tpl

(1, 2, 3, 4, 5)

In [28]:
# 정수 이외의 실수나 text도 담을 수 있습니다.
tpl = (1,2,3,5.5,"str1")
tpl

(1, 2, 3, 5.5, 'str1')

In [29]:
# tuple 내에 tuple, 리스트 또는 변수를 담을 수 있습니다.
var_1 = 1
tpl_1 = [var_1, 2,3,4, tpl]
tpl_1

[1, 2, 3, 4, (1, 2, 3, 5.5, 'str1')]

### (2) Tuple에서 값 얻기
list와 동일한 형태로, Tuple 뒤의 대괄호에 index를 넣어 값을 얻습니다.

In [30]:
tpl = (1,2,3,4,5)

In [31]:
# tuple의 2번째 index 값 가져오기
# *주의 : python 에서 index는 0부터 시작합니다.
element_1 = tpl[2]
element_1

3

In [32]:
# tuple의 마지막 값 얻기
# 마지막 index은 -1로, 역 순으로 -2, -3으로 진행합니다.
element_4 = tpl[-2]
element_4

4

In [33]:
# tuple의 범위 지정
# 1번째 이상 4번째 미만 값을 가져오기 위해서는 :을 이용합니다.
element_2 = tpl[1:4]
element_2

(2, 3, 4)

In [34]:
# tuple의 세번째 이후 값 얻기
element_3 = tpl[3:]
element_3

(4, 5)

In [35]:
# tuple의 범위에서 step 값을 주어 그 값만큼 건너뛰어 가져올 수 있습니다.
element_5 = tpl[0:5:2]
element_5

(1, 3, 5)

In [36]:
# tuple에 값이 있는지는 in 연산자를 통해 알 수 있습니다.
1 in tpl

True

* Tuple에서 값을 수정하면 아래와 같이 에러 메시지가 나타납니다.

In [37]:
# tpl의 세번째 값을 6으로 바꾸기
tpl= (1,2,3,4,5)
tpl[2] = 6

TypeError: 'tuple' object does not support item assignment

## 2. Tuple의 연산
---

+ 튜플에도 숫자처럼 여러 연산을 적용할 수 있습니다.

### (1) Tuple 더하기 (+)

`+`, 더하기 연산을 통해 두 Tuple을 이을 수 있습니다.

In [38]:
tpl1 = (1,2,3,4,5)
tpl2 = (6,7,8,9,10)
tpl1 + tpl2 # Tuple 합치기

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

List와 Tuple을 합칠 수는 없습니다.

In [39]:
lst1 = [1,2,3,4,5]
tpl2 = (6,7,8,9,10)
lst1 + tpl2 # Tuple 합치기

TypeError: can only concatenate list (not "tuple") to list

### (2) Tuple 곱하기 (*)

`*`, 곱하기 연산을 통해 Tuple을 반복할 수 있습니다.

In [40]:
tpl1 * 3 # Tuple 반복

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### (3) 두 튜플을 교차하기

In [41]:
tpl1 = (1,2,3,4,5)
tpl2 = ("a","b","c","d","e")

list(zip(tpl1,tpl2)) # list와 마찬가지로 교차해서 들어갑니다.

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]


# \[ 3. 기본 자료구조를 다루기 위한 함수들 \]

---

---
> *Python에서는 위의 자료 구조를 보다 잘 다루기 위해서 자료구조의 크기를 재는 `len` 함수와 자료구조를 정렬하는 `sorted` 함수를 제공한다.*

## 1. len 함수와 sorted 함수

---

### (1) len으로 크기 재기

리스트와 튜플 내에 있는 원소들의 수를 반환합니다

In [42]:
lst = [1,2,3,4,5]
len(lst)

5

In [43]:
tpl = (1,2,3,4,5)
len(tpl)

5

### (2) sorted로 정렬하기

List와 Tuple은 sorted를 통해 정렬할 수 있습니다.

In [44]:
lst = [1,3,2,4,5]
sorted(lst) # 기본적으로 오름차순으로 정렬합니다.

[1, 2, 3, 4, 5]

In [45]:
tpl = (1,2,3,4,5)
sorted(tpl) # 반환은 List 타입으로 나오게 됩니다.

[1, 2, 3, 4, 5]

In [46]:
sorted(lst,reverse=True) # reverse=True하면 내림차순으로 정렬합니다.

[5, 4, 3, 2, 1]

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24

---