 ┏━━<i><b>Alai-DeepLearning</b></i>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
###  &nbsp;&nbsp; **✎&nbsp;&nbsp;Week1. Python의 기초 문법**
# Section 4. Python의 자료구조 2 (Set과 Dictionary)

### _Objective_
1. 파이썬에서는 기본 변수이외에도 List, Tuple, Set, Dictionary 와 같은 다양한 자료구조를 지원합니다. <br>
2. 이번 시간에는 그 중 순서가 따로 정해지지 않은 자료형인 Set와 Dict에 대해 다루어 보도록 하겠습니다.<br>
  
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

# \[1. Set \]

---

---

> _set(집합)은 여러개의 객체를 담을 수 있는 리스트와 유사하지만 2가지가 다릅니다._
>    1. 중복을 허용하지 않는다.<br>
>    2. 순서가 없다.<br>

> _중복을 허용하지 않는 set의 특징 덕분에 data의 중복을 제거하기 위한 수단으로 자주 쓰입니다._<br> 
> _대신 Set은 순서가 없기 때문에 list처럼 인덱싱으로 값을 얻을 수 없습니다._

## 1. Set의 생성과 원소
---

### (1) Set 생성하기

set 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [1]:
# 비어있는 Set를 생성합니다.
set0 = set()
set0

set()

In [2]:
# 비어있는 Set를 생성합니다.
set0 = set()
set0

set()

In [3]:
# 여러 값을 저장 가능하지만, 중복은 허용하지 않습니다.
set1 = {1,1,2,"2","text","text",3}
set1

{1, 2, '2', 3, 'text'}

In [4]:
# set은 list나 tuple과 다르게, set 안에 list를 넣지 못합니다.
set2 = {1,2,[1,2,3]}

TypeError: unhashable type: 'list'

In [5]:
# 하지만 tuple은 set에 추가가 가능합니다.
set2 = {1,2,(1,2,3)}

### (2) Set에서 값 얻기
set에는 순서가 없기 때문에 index를 통해 값을 가져올 수 없습니다.<br>
하지만 값이 있는지는 확인할 수 있습니다.

In [6]:
set1 = {1,1,2,"2","text","text",3}

1 in set1

True

### (3) Set에 값 추가하기
Set는 `add()`와 `update()` 를 통해 값을 추가해 줍니다.

In [7]:
set1 = {1,2,3,4,5}

In [8]:
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [9]:
set1.update({7,8,9}) # 여러 개의 값을 추가할 때에는 update를 이용합니다.
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### (4) Set의 특정 원소 제거하기
`remove()`를 이용하여 값을 제거할 수 있습니다.

In [10]:
set1 = {1,2,3,4,5}

In [11]:
# remove를 이용하여 set내의 4 를 제거하기
# *주의 : 만약 remove(#) : # 의 값이 set에 존재하지 않을 경우 ValueError 가 발생합니다.
set1.remove(4)
set1

{1, 2, 3, 5}

### (5) set의 특정 원소가 있는지 찾기

In [12]:
set1 = {1,2,3,4,5}

In [13]:
1 in set1

True

In [14]:
6 in set1

False

## 2. Set의 연산
---

+ set(집합)은 그 이름답게, 집합에 관련된 연산들이 구현되어 있습니다.
+ 집합에 해당하는 연산들은 아래와 같습니다.

| 연산 | 설명 |
| --- | --- |
| $&$   | 교집합(두 집합에 공통으로 포함된 원소) |
| $|$   | 합집합(두 집합의 모든 원소) |
| A-B   | 차집합(A와 B의 교집합을 제외한 A의 원소) |
| $^$   | 대칭차집합(합집합에서 교집합을 뺀 모든 원소)|

In [15]:
A = {1,2,3,5}
B = {3,5,6,8,9}

### (1) 교집합

In [16]:
A & B

{3, 5}

### (2) 합집합

In [17]:
A | B

{1, 2, 3, 5, 6, 8, 9}

### (3) 차집합

In [18]:
A - B

{1, 2}

### (4) 대칭차집합

In [19]:
A ^ B

{1, 2, 6, 8, 9}

# \[ 2. Dictionary \]

---

---
> _dictionary(: dict) 자료형은 키와 값을 한 쌍으로 가지는 자료형으로, `list의 index` 대신 key를 이용해서 데이터를 찾을 수 있습니다._ <br>
> _딕셔너리에서 저장된 자료는 순서가 없고 키는 set과 같이 중복을 허용하지 않습니다._

## 1. Dictionary의 생성과 원소
---

### (1) Dictionary 생성하기
dict 내에는 숫자 뿐 아니라 다양한 타입의 변수를 담을 수 있습니다.

In [20]:
# 비어있는 dict를 생성합니다.
dict0 = {} #
dict0 = dict()
dict0

{}

In [21]:
# 여러개의 key와 value들을 저장합니다.
dict1 = {'1':'a',
        '2':'b',
        '3':1,
        'c':'test'}
dict1

{'1': 'a', '2': 'b', '3': 1, 'c': 'test'}

In [22]:
# dict 내에 리스트나 tuple, dict로 포함할 수 있습니다.
dict1 = {'1':'a',
        '2':[1,2,3,4],
        '3':(1,2,3),
        'c':{1:'1',2:'2'}}
dict1

{'1': 'a', '2': [1, 2, 3, 4], '3': (1, 2, 3), 'c': {1: '1', 2: '2'}}

In [23]:
# dict 내의 리스트 값을 가져오고자 한다면 아래와 같이 수행할 수 있습니다.
dict1['2'][0] # dict1의 key값이 2인 list의 0번째 인덱스 값을 가져오기

1

### (2) dict에서 값 얻기

Dict 뒤의 대괄호에 key값을 넣어 가져옵니다.

In [24]:
dict1 = {"1":"a","2":"b","3":4}

In [25]:
dict1['1']

'a'

In [26]:
dict1[3] # 문자열과 정수형은 구분해주어야 합니다.

KeyError: 3

In [27]:
"1" in dict1 # in 연산자로 해당 값이 dict의 key 값으로 있는지 확인할 수 있습니다.

True

In [28]:
3 in dict1

False

### (3) Dict에 값 추가 혹은 변경하기
Dict는 key를 통한 값을 가져오는 것과 비슷한 방식으로 변경할 수 있습니다.

In [29]:
dict2 = {"1":"a","2":"b","3":"4"}

In [30]:
# dict2의 key '4'에 'hello'를 추가
dict2['4'] = 'hello'
dict2

{'1': 'a', '2': 'b', '3': '4', '4': 'hello'}

In [31]:
# dict2의 key '1'에 'a' 대신 10으로 변경
dict2['1'] = 10
dict2

{'1': 10, '2': 'b', '3': '4', '4': 'hello'}

### (4) Dict의 특정 원소 제거하기
`del` 을 이용한 방법과 `L.pop()`를 이용한 방법

In [32]:
dict2 = {"1":"a","2":"b","3":"4"}

In [33]:
# del을 이용하여 '1'의 키 값을 가진 쌍 제거하기
del dict2['1']
dict2

{'2': 'b', '3': '4'}

In [34]:
# pop를 이용하여 '2'의 키 값을 가진 쌍 제거하기
# *주의 : 만약 pop(#) : # 의 값이 dict에 존재하지 않을 경우 ValueError 가 발생합니다.
dict2.pop('2')
dict2

{'3': '4'}


# \[ 3. 기본 자료구조를 다루기 위한 함수들 \]
    
---

---

> _List와 Tuple처럼, set과 dict도 자료구조의 크기를 재는 `len` 함수와 자료구조를 정렬하는 `sorted` 함수로 할 수 있습니다.._

## 1. len 함수와 sorted 함수
---

### (1) len으로 크기 재기

자료구조 내에 있는 원소들의 수를 반환합니다

In [35]:
set1 = {1,2,3,4,5}
len(set1)

5

In [36]:
dict1 = {1:2,2:[3,4,5]}
len(dict1) # 몇개의 Key가 있는지를 반환합니다

2

### (2) sorted로 정렬하기

모든 자료구조는 sorted를 통해 정렬할 수 있습니다.

In [37]:
set1 = {1,2,3,4,5}
sorted(set1) # 반환은 리스트 타입으로 나오게 됩니다.

[1, 2, 3, 4, 5]

In [38]:
dict1 = {1:2,2:[3,4,5]}
sorted(dict1,reverse=True) # 키값만 sorting되며 반환됩니다.

[2, 1]

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SeonYoul Choi ( Best10@publicai.co.kr )  last updated on 2019/02/24
---