┏━━<i><b>Alai-DeepLearning</b></i>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
###  &nbsp;&nbsp; **✎ &nbsp;Week1. Python의 기초 문법**
# Section 6. Python에서의 제어문 2 ( 순회문 )

### _Objective_
1. Python에서 제공하는 제어문은 크게 3가지 조건문(if) / 반복문(while) / 순회문(for)이 존재합니다.<br>
2. 그 중 순회문은 여러 요소를 순차적으로 가진 자료에 대해 요소별로 되풀이(iteration)하여 실행합니다. <br>
3. 순회문에 대해서 이해하고, 실습을 통해 활용해 보겠습니다.<br>

  
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

# \[ 1. 순회문(for) \]

---

---

> *순회문의 기본 구조는 아래와 같습니다.*
    
````python
for 원소 in 순회할자료구조(list,tuple,set,dict):
    수행할 문장1
    수행할 문장2
    ...

````

> *순회문은 <순회할자료구조>에서 값을 하나하나 꺼내와서 처리할 수 있도록 만드는 제어문입니다.*

### 예제 데이터)

┌─<i> ✍︎ Example  </i>────────────────────────────┐ <br>

AOA 멤버들의 정보를 순서대로 출력하는 코드를 작성해 보겠습니다. <br>

└───────────────────────────────────┘

**AOA 멤버 정보 리스트**

| 이름 | 생년월일 | 포지션 | 천사명 |
|----|----| ---- | ---- | 
| 지민 | 1991.1.8 | 리더, 래퍼 | 지미넬 |
| 유나 | 1992.12.30 | 보컬, 키보드 | 유나리아 |
| 혜정 | 1993.8.10 | 보컬, 댄서 | 혜정리너스 |
| 민아 | 1993.9.21 | 래퍼, 보컬, 베이스 | 민아링 |
| 설현 | 1995.1.3 | 보컬, 댄서 | 설현아리 |
| 찬미 | 1996.6.19 | 래퍼, 보컬, 댄서 | 찬미 티티 |

## 1. 리스트(List) 순회하기
<hr>

### 예제 1. ) AOA 멤버들의 이름 출력하기 
* AOA의 멤버들의 이름이 리스트로 주어졌을 때, 이름을 하나씩 출력해봅시다.

In [1]:
AOA = ["지민", "유나", "혜정", "민아", "설현", "찬미"]

for name in AOA:
    print("{} : AOA의 멤버입니다".format(name))

지민 : AOA의 멤버입니다
유나 : AOA의 멤버입니다
혜정 : AOA의 멤버입니다
민아 : AOA의 멤버입니다
설현 : AOA의 멤버입니다
찬미 : AOA의 멤버입니다

### (1) `break`로 중단하기

이름 출력을 민아까지만 출력한다고 해봅시다.

In [2]:
AOA = ["지민", "유나", "혜정", "민아", "설현", "찬미"]

for name in AOA:
    print("{} : AOA의 멤버입니다".format(name))
    if name == "민아":
        # name이 민아면, 출력을 멈춤
        break

지민 : AOA의 멤버입니다
유나 : AOA의 멤버입니다
혜정 : AOA의 멤버입니다
민아 : AOA의 멤버입니다

민아 이후의 설현, 찬미는 출력이 되지 않습니다.

### (2) `continue`로 건너뛰기

설현 이름을 제외하고 다른 이름들을 출력해봅시다.

In [3]:
AOA = ["지민", "유나", "혜정", "민아", "설현", "찬미"]

for name in AOA:
    if name == "설현":
        # name이 설현이면, 건너뛰기
        continue
    print("{} : AOA의 멤버입니다".format(name))

지민 : AOA의 멤버입니다
유나 : AOA의 멤버입니다
혜정 : AOA의 멤버입니다
민아 : AOA의 멤버입니다
찬미 : AOA의 멤버입니다

### (3) 2중 순회 구문

멤버 별로 맡은 포지션을 출력해봅시다.

In [4]:
jimin = ["지민", "리더", "래퍼"]
yuna = ["유나", "보컬", "키보드"]
hyejung = ["현정", "보컬", "댄서"]
mina = ["미나", "래퍼", "보컬", "베이스"]
sulhyun = ["설현", "보컬","댄서"]
chanmi = ["찬미", "래퍼", "보컬", "댄서"]

members_position = [jimin, yuna, hyejung, mina, sulhyun, chanmi]

In [5]:
for member in members_position:
    member_name = member[0]
    positions = member[1:]
    
    print("멤버이름 : ",member_name)
    print("멤버가 맡은 포지션")
    
    for position in positions:
        # for 구문 안에 for 구문을 쓸 수 있습니다.
        print(" * ", position)
    
    print("---------")

멤버이름 :  지민
멤버가 맡은 포지션
 *  리더
 *  래퍼
---------
멤버이름 :  유나
멤버가 맡은 포지션
 *  보컬
 *  키보드
---------
멤버이름 :  현정
멤버가 맡은 포지션
 *  보컬
 *  댄서
---------
멤버이름 :  미나
멤버가 맡은 포지션
 *  래퍼
 *  보컬
 *  베이스
---------
멤버이름 :  설현
멤버가 맡은 포지션
 *  보컬
 *  댄서
---------
멤버이름 :  찬미
멤버가 맡은 포지션
 *  래퍼
 *  보컬
 *  댄서
---------

## 2. Set 순회하기
<hr>

### 예제 2.) AOA에 배치되어 있는 포지션들 출력하기
AOA의 멤버들의 포지션들은 다양합니다. AOA에 있는 포지션들을 나열해 봅시다.

In [6]:
jimin = {"리더", "래퍼"}
yuna = {"보컬", "키보드"}
hyejung = {"보컬", "댄서"}
mina = {"래퍼", "보컬", "베이스"}
sulhyun = {"보컬","댄서"}
chanmi = {"래퍼", "보컬", "댄서"}

all_position = jimin | yuna | hyejung | mina | sulhyun | chanmi # 모든 position의 합집합
all_position

{'댄서', '래퍼', '리더', '베이스', '보컬', '키보드'}

In [7]:
for position in all_position:
    # 순서에 무관하게(내부에 저장된 순서대로) 출력
    print(position)

키보드
래퍼
베이스
보컬
리더
댄서

> set은 순서가 정해지지 않은 자료구조로, **입력**했던 순서와 다르게 출력됩니다.

## 3. Dict 순회하기
<hr>

### 예제3. ) AOA 멤버들의 이름과 생일을 같이 출력하기
AOA의 멤버들의 이름과 생일이 dictionary로 주어졌을 때, 함께 출력해 봅시다.

In [8]:
AOA_with_birthday = {
    "지민" : "1991.1.8",
    "유나" : "1992.12.30",
    "혜정" : "1993.8.10",
    "민아" : "1993.9.21",
    "설현" : "1995.1.3",
    "찬미" : "1996.6.19"
}

### (1) 키를 기준으로 순회하기

In [9]:
for member_name in AOA_with_birthday:
    print(member_name)

지민
유나
혜정
민아
설현
찬미

기본적으로 순회 구문에 넣었을 때, 키를 중심으로 순회하게 됩니다.

### (2) 값을 기준으로 순회하기

In [10]:
for birthday in AOA_with_birthday.values():
    print(birthday)

1991.1.8
1992.12.30
1993.8.10
1993.9.21
1995.1.3
1996.6.19

값을 순회하고 싶으면, `values()`로 순회해야 합니다.

### (3) 키와 값을 같이 순회하기

In [11]:
for member_name, birth_day in AOA_with_birthday.items():
    print(member_name, birth_day)

지민 1991.1.8
유나 1992.12.30
혜정 1993.8.10
민아 1993.9.21
설현 1995.1.3
찬미 1996.6.19

키와 값을 같이 순회하고 싶으면,  `items()`로 순회해야 합니다.

# \[ 2. 순회문을 도와주는 메소드들 ( `enumerate`, `range`와 `zip` ) \]

---

---

## 1. 자료구조에 인덱스를 함께 출력하기 :  `enumerate`
<hr>

### 예제4. ) 이름과 순서를 같이 출력하기
> 멤버들의 이름을 순번과 함께 출력해봅시다.

In [12]:
names = ["지민", "유나", "혜정", "민아", "설현", "찬미"]

> + `enumerate(<자료구조>,<시작값>)`는 순회할 때, index를 원소와 함께 반환해줍니다.

In [13]:
for idx, name in enumerate(names):
    print("{}번째 멤버 : {}".format(idx, name))

0번째 멤버 : 지민
1번째 멤버 : 유나
2번째 멤버 : 혜정
3번째 멤버 : 민아
4번째 멤버 : 설현
5번째 멤버 : 찬미

> + `enumerate(<자료구조>,<시작값>)`으로 구성되어 있습니다. <시작값>을 지정하면, 시작값부터 1씩 인덱스가 증가합니다.

In [14]:
for idx, name in enumerate(names,1):
    # 1부터 출력하고 싶으면, enumerate 2번째 인자에 1로 지정해주면 됩니다.
    print("{}번째 멤버 : {}".format(idx, name))

1번째 멤버 : 지민
2번째 멤버 : 유나
3번째 멤버 : 혜정
4번째 멤버 : 민아
5번째 멤버 : 설현
6번째 멤버 : 찬미

## 2. 숫자 배열을 생성하기 :  `range`
<hr>

### 예제5. ) 0부터 6까지 순회하기
> 0부터 6까지 순서대로 출력을 해봅시다.

In [15]:
nums = [0,1,2,3,4,5]

for num in nums:
    print(num)

0
1
2
3
4
5

> * 위와 같이 할수도 있지만, 간단히 하기 위해서 아래처럼 할 수 있습니다.

In [16]:
for num in range(0,6):
    print(num)

0
1
2
3
4
5

### 예제6. ) 0부터 10까지 짝수만 순회하기
> 0부터 10까지 있는 숫자 중 짝수만 출력해 봅시다.

In [17]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

### 예제7. ) 10부터 1까지 거꾸로 순회하기
> 10부터 1까지 거꾸로 출력해봅시다.

In [18]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

## 3. 여러 자료구조를 함께 순회하기 :  `zip`
<hr>

### 예제8. ) 이름과 천사명 같이 출력하기

> 이름 리스트와 천사명 리스트를 같이 받았을 때, 두 요소가 같이 순서대로 출력해보도록 해봅시다.

In [19]:
names = ["지민", "유나", "혜정", "민아", "설현", "찬미"]
angels = ["지미넬","유나리아","혜정리너스","민아링","설현아리","찬미 티티"]

for name, angle in zip(names, angels):
    print(name, "-", angle)

지민 - 지미넬
유나 - 유나리아
혜정 - 혜정리너스
민아 - 민아링
설현 - 설현아리
찬미 - 찬미 티티

* `zip`을 이용하면, 한번에 여러 개의 리스트를 같은 순서대로 순회할 수 있습니다.

# \[ 3. list, dict을 간결하게 만드는 방법 (comprehension ) \]

---

---


> *Python에서는 list와 dict를 생성하기 위한 방법 중 하나로, `Comprehension`을 제공합니다.*

## 1. List Comprehension
<hr>

### 예제 1) 20까지의 짝수를 가지고 있는 List 만들기
> `list comprehension`을 통해 매우 간결하게 코드를 작성할 수 있습니다.

In [20]:
even_numbers = []
for x in range(11):
    even_numbers.append(2 * x)

In [21]:
# 위의 순회문은 아래와 같이 간결하게 나타낼 수 있습니다.
even_numbers = [2 * x for x in range(11)]
even_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 예제 2) 보컬 역할을 가지고 있는 멤버들의 이름 리스트를 가져오기

In [22]:
# 각 멤버의 이름과 포지션에 대한 dictionary 리스트
jimin = {
    "name" : "지민",
    "position" : {"리더", "래퍼"}
}
yuna = {
    "name" : "유나",
    "position" : {"보컬", "키보드"}
}
hyejung = {
    "name" : "혜정",
    "position" : {"보컬", "댄서"}
}
mina = {
    "name" : "민아",
    "position": {"래퍼", "보컬", "베이스"}
}
sulhyun = {
    "name" : "설현",
    "position" : {"보컬","댄서"}
}
chanmi = {
    "name" : "찬미",
    "position" : {"래퍼", "보컬", "댄서"}
}

all_members = [jimin, yuna, hyejung, mina, sulhyun, chanmi]

In [23]:
vocal_members = []

for member in all_members:
    if "보컬" in member['position']:
        vocal_members.append(member)

vocal_members

[{'name': '유나', 'position': {'보컬', '키보드'}},
 {'name': '혜정', 'position': {'댄서', '보컬'}},
 {'name': '민아', 'position': {'래퍼', '베이스', '보컬'}},
 {'name': '설현', 'position': {'댄서', '보컬'}},
 {'name': '찬미', 'position': {'댄서', '래퍼', '보컬'}}]

In [24]:
vocal_members = [member 
                 for member in all_members 
                 if "보컬" in member['position']]
vocal_members

[{'name': '유나', 'position': {'보컬', '키보드'}},
 {'name': '혜정', 'position': {'댄서', '보컬'}},
 {'name': '민아', 'position': {'래퍼', '베이스', '보컬'}},
 {'name': '설현', 'position': {'댄서', '보컬'}},
 {'name': '찬미', 'position': {'댄서', '래퍼', '보컬'}}]

## 2. Dict Comprehension
<hr>

> `dict comprehension`도 마찬가지로, `{<key>:<value> for key,value in <자료구조>}` 방식으로 간결하게 작성할 수 있습니다.

### 예제 1) 이름과 천사명에 대한 dict 만들기

| 이름 | 생년월일 | 포지션 | 천사명 |
|----|----| ---- | ---- | 
| 지민 | 1991.1.8 | 리더, 래퍼 | 지미넬 |
| 유나 | 1992.12.30 | 보컬, 키보드 | 유나리아 |
| 혜정 | 1993.8.10 | 보컬, 댄서 | 혜정리너스 |
| 민아 | 1993.9.21 | 래퍼, 보컬, 베이스 | 민아링 |
| 설현 | 1995.1.3 | 보컬, 댄서 | 설현아리 |
| 찬미 | 1996.6.19 | 래퍼, 보컬, 댄서 | 찬미 티티 |

In [25]:
# 각 멤버의 이름과 천사명에 대한 리스트
member_names = ["지민","유나","혜정","민아","설현","찬미"]
angel_names = ["지미넬","유나리아","혜정리너스","민아링","설현아리","찬미 티티"]

In [26]:
member_angel_dict = {}

for name, angel in zip(member_names, angel_names):
    member_angel_dict[name] = angel
    
member_angel_dict

{'지민': '지미넬',
 '유나': '유나리아',
 '혜정': '혜정리너스',
 '민아': '민아링',
 '설현': '설현아리',
 '찬미': '찬미 티티'}

In [27]:
# 위와 같은 코드를 아래와 같이 작성할 수 있습니다.
member_angel_dict = {name : angel 
                     for name, angel in zip(member_names, angel_names)}
member_angel_dict

{'지민': '지미넬',
 '유나': '유나리아',
 '혜정': '혜정리너스',
 '민아': '민아링',
 '설현': '설현아리',
 '찬미': '찬미 티티'}

#  

<hr>

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SangJae Kang ( rocketgrowthsj@publicai.co.kr )  last updated on 2019/02/25
<hr>