 ╔══<i><b>Alai-DeepLearning</b></i>════════════════════════╗
###  &nbsp;&nbsp; **✎&nbsp;&nbsp;Week 3. Pandas & Matplotlib**
# Section 1. Dataframe의 구조와 생성

### _Objective_
1. Pandas의 기본 형인 Dataframe과 Series에 대해 배웁니다. <br>
2. Dataframe을 생성하는 방식을 배웁니다. <br>
3. TODO : 데이터프레임을 CSV로부터 읽고 쓰는 방식을 배웁니다.
╚═════════════════════════════════════╝

In [1]:
import pandas as pd
import numpy as np

## 예제 데이터 ) 중간고사, 학생들의 국영수사과 성적표

┌─<i> ✍︎ Example  </i>──────────────────────────────────────────────────────────────────┐ <br>

학생들의 국영수사과 성적표를 Dataframe으로 저장한 후 다양하게 활용해보겠습니다.<br>

####  중간고사, 학생들의 국영수사과 성적표

|반   | 학생 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 | 
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

# \[ 1. Series의 구조와 생성 \]

----

----

> *Series는 Numpy의 1차원 Array와 유사합니다.*<br>
> *Series는 같은 데이터형으로 이루어진 정보를 의미합니다.*

## 1. Series 생성하기

+ Series는 1차원으로 이루어진 데이터 행렬입니다. `np.array`, `list`,`dict`등으로 생성할 수 있습니다.

### (1) list로 생성하기

In [93]:
language_score = pd.Series([80,91,86,77,75,96,91])
language_score

0    80
1    91
2    86
3    77
4    75
5    96
6    91
dtype: int64


*Series의 출력 중*<br>
*왼쪽의 숫자는 각 원소에 대한 Index이고, 오른쪽의 숫자는 각 원소의 값을 의미합니다.*

In [97]:
language_score.index = ["승기","호동","윤호","성진",
                        "서형","대근","준호"]
language_score

승기    80
호동    91
윤호    86
성진    77
서형    75
대근    96
준호    91
dtype: int64

*index를 숫자가 아닌, 값으로 지정하고 싶으면, 위와 같이 지정할 수 있습니다.*

### (2) Numpy Array로 생성하기

In [94]:
# numpy Array로도 만들 수 있습니다.
values = np.array([80,91,86,77,75,96,91])
language_score = pd.Series(values)
language_score

0    80
1    91
2    86
3    77
4    75
5    96
6    91
dtype: int64

### (3) dictionary로 생성하기

* Dictionary로 Series를 만들 경우, key값은 series의 Index가 됩니다.

In [98]:
language_score = pd.Series({
    "승기":80,
    "호동":91,
    "윤호":86,
    "성진":77,
    "서형":75,
    "대근":96,
    "준호":91
})
language_score

승기    80
호동    91
윤호    86
성진    77
서형    75
대근    96
준호    91
dtype: int64

## 2. Series의 정보 가져오기

Series은 
* 원소 별 값인 `values`
* 각 원소에 대한 인덱스인 `index`
* 해당 series의 이름인 `name`

으로 구성되어 있습니다.

### (1) 각 Series의 정보를 가져오기

In [46]:
# 값만을 가져오고 싶으면, values를 치면 됩니다. 
language_score.values

array([80, 91, 86, 77, 75, 96, 91])

In [47]:
# index만을 가져오고 싶으면, index를 치면 나타납니다.
language_score.index

RangeIndex(start=0, stop=7, step=1)

In [48]:
# 데이터 타입을 확인하고 싶으면, dtype으로 알 수 있습니다.
language_score.dtype

dtype('int64')

In [101]:
# Series의 요약 정보를 알고 싶으면 describe으로 알 수 있습니다.
language_score.describe()

count     7.000000
mean     85.142857
std       7.988086
min      75.000000
25%      78.500000
50%      86.000000
75%      91.000000
max      96.000000
dtype: float64

### (2) Series의 index

+ index는 각 원소의 고유한 이름을 의미합니다. 지정하지 않을 경우, 번호가 자동으로 순서대로 매겨지고, 지정할 경우, 우리는 이를 통해 데이터를 확인할 수 있습니다.

In [68]:
language_score = pd.Series([80,91,86,77,
                            75,96,91],
                    index=["승기","호동","윤호","성진",
                           "서형","대근","준호"])
language_score

승기    80
호동    91
윤호    86
성진    77
서형    75
대근    96
준호    91
dtype: int64

In [57]:
# 승기의 국어성적을 알고 싶으면, "승기"라고 넣으면 됩니다.
# Python의 dictionary와 유사합니다.
language_score["승기"]

80

In [58]:
# 아래와 같이, 인자처럼 가져올 수 있습니다.
language_score.승기

80

### (3) Series의 name

* Series의 이름을 지정할 수 있습니다. 이는 나중에, 복수개의 Series를 다루는 Dataframe에서 열의 이름으로서 동작합니다.

In [59]:
language_score = pd.Series([80,91,86,77,75,96,91],
                    index=["승기","호동","윤호","성진","서형","대근","준호"],
                    name="국어")
language_score

승기    80
호동    91
윤호    86
성진    77
서형    75
대근    96
준호    91
Name: 국어, dtype: int64

# \[ 2. Dataframe의 구조와 생성 \]

----

----

> *Series는 Numpy의 1차원 Array와 유사하고, Dataframe은 Numpy의 2차원 Array와 유사합니다.*<br>
> *Series는 같은 데이터형으로 이루어진 정보를 의미하고, Dataframe은 Series의 집합체 입니다.*

## 1. Dataframe 생성하기

+ Dataframe은 2차원으로 이루어진 데이터 행렬입니다. Series와 마찬가지로, `np.array`, `list`,`dict`등으로 생성할 수 있습니다.

### (1) list로 생성하기

*Series는 1차원의 list으로 만들었다면, Dataframe은 2차원의 list로 만들 수 있습니다.*<br>
*하나의 행이 하나의 리스트로 들어갑니다.*

In [105]:
scores = [["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]]

df = pd.DataFrame(scores)
df

    0   1   2   3   4   5   6
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73


*Dataframe의 출력 중*<br>
*가장 왼쪽은 각 행에 대한 Index이고, 가장 위쪽은 각 열에 대한 Index입니다..*

In [109]:
columns = ["반","이름","국어","영어","수학","사회","과학"]
df.columns = columns

indexes = ["A","B","C","D","E","F","G"]
df.index = indexes
df

    반  이름  국어  영어  수학  사회  과학
A  1반  승기  80  92  70  65  92
B  1반  호동  91  75  90  68  85
C  2반  윤호  86  76  42  72  88
D  2반  성진  77  92  52  60  80
E  3반  서형  75  85  85  92  95
F  3반  대근  96  90  95  81  72
G  4반  준호  91  81  92  81  73

열의 index는 `columns`을 통해 지정할 수 있고, 행의 index는 `index`를 통해 지정할 수 있습니다.

### (2) np.array로 생성하기

list와 유사한 방식으로, numpy.array로도 만들 수 있습니다.

In [110]:
columns = ["반","이름","국어","영어","수학","사회","과학"]
scores = np.array([["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]])

df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

### (3) dict으로 생성하기

*dictionary로 만들 경우, 각 Key 값은 열의 이름으로 되고,*<br>
*각 Value의 원소 갯수는 동일해야 합니다.*

In [136]:
scores = {
    "반" :["1반","1반","2반","2반","3반","3반","4반"],
    "이름":["승기","호동","윤호","성진","서형","대근","준호"],
    "국어":[80,91,86,77,75,96,91],
    "영어":[92,75,76,92,85,90,81],
    "수학":[70,90,42,52,85,95,92],
    "사회":[65,68,72,60,92,81,81],
    "과학":[92,85,88,80,95,72,73]
}
df = pd.DataFrame(scores) 
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

## 2. Dataframe의 정보 가져오기

Dataframe은 
* 원소 별 값인 `values`
* 각 행에 대한 인덱스인 `index`
* 각 열에 대한 인덱스인 `columns`

으로 구성되어 있습니다.

### (1) Dataframe의 정보를 가져오기

In [137]:
# 값만을 가져오고 싶으면, values를 치면 됩니다. 
df.values

array([['1반', '승기', 80, 92, 70, 65, 92],
       ['1반', '호동', 91, 75, 90, 68, 85],
       ['2반', '윤호', 86, 76, 42, 72, 88],
       ['2반', '성진', 77, 92, 52, 60, 80],
       ['3반', '서형', 75, 85, 85, 92, 95],
       ['3반', '대근', 96, 90, 95, 81, 72],
       ['4반', '준호', 91, 81, 92, 81, 73]], dtype=object)

In [138]:
# 행방향 index만을 가져오고 싶으면, index를 치면 나타납니다.
df.index

RangeIndex(start=0, stop=7, step=1)

In [139]:
# 열방향 index을 가져오고 싶으면, columns을 치면 나타납니다.
df.columns

Index(['반', '이름', '국어', '영어', '수학', '사회', '과학'], dtype='object')

In [140]:
# 데이터 타입을 확인하고 싶으면, info으로 알 수 있습니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 7 columns):
반     7 non-null object
이름    7 non-null object
국어    7 non-null int64
영어    7 non-null int64
수학    7 non-null int64
사회    7 non-null int64
과학    7 non-null int64
dtypes: int64(5), object(2)
memory usage: 472.0+ bytes

In [143]:
# Datframe의 요약 정보를 알고 싶으면 describe으로 알 수 있습니다.
# 반과 이름의 열은 문자열 정보로, 요약 정보가 생략됩니다.
df.describe()

              국어         영어         수학         사회         과학
count   7.000000   7.000000   7.000000   7.000000   7.000000
mean   85.142857  84.428571  75.142857  74.142857  83.571429
std     7.988086   7.276839  21.043040  11.096975   8.960230
min    75.000000  75.000000  42.000000  60.000000  72.000000
25%    78.500000  78.500000  61.000000  66.500000  76.500000
50%    86.000000  85.000000  85.000000  72.000000  85.000000
75%    91.000000  91.000000  91.000000  81.000000  90.000000
max    96.000000  92.000000  95.000000  92.000000  95.000000

### (2) Dataframe의 index

+ Dataframe의 index는 열방향과 행방향이 있습니다. 
+ 이후 배울 예정으로, 각 방향으로 자유롭게 우리는 index로 값을 가져올 수 있습니다.

In [145]:
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 1) 열방향 인덱싱

In [149]:
df.columns

Index(['반', '이름', '국어', '영어', '수학', '사회', '과학'], dtype='object')

In [152]:
df["이름"] # dictionary처럼 지정할 수 있고

0    승기
1    호동
2    윤호
3    성진
4    서형
5    대근
6    준호
Name: 이름, dtype: object

In [154]:
df.이름 # Series의 index로도 지정할 수 있습니다.

0    승기
1    호동
2    윤호
3    성진
4    서형
5    대근
6    준호
Name: 이름, dtype: object

#### 2) 행방향 인덱싱

In [155]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [156]:
# 서형에 대한 성적을 알고 싶으면, 해당 행 index을 
# 아래와 같이 입력하면 됩니다.
df.loc[4]

반     3반
이름    서형
국어    75
영어    85
수학    85
사회    92
과학    95
Name: 4, dtype: object

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SangJae Kang ( rocketgrowthsj@publicai.co.kr )  last updated on 2019/03/04


---