 ╔══<i><b>Alai-DeepLearning</b></i>════════════════════════╗
###  &nbsp;&nbsp; **✎&nbsp;&nbsp;Week 3. Pandas & Matplotlib**
# Section 3. Dataframe의 함수 사용하기

### _Objective_
1. Pandas는 데이터를 다루기 위한 다양한 함수를 내장하고 있습니다. <br>
2. 다양한 함수들을 이용하는 방식을 배웁니다. <br>
3. 임의의 함수를 적용하는 방식을 배웁니다.

╚═════════════════════════════════════╝

In [0]:
import pandas as pd
import numpy as np

## 예제 데이터 ) 중간고사, 학생들의 국영수사과 성적표


학생들의 국영수사과 성적표를 Dataframe으로 저장한 후 다양하게 활용해보겠습니다.<br>

####  중간고사, 학생들의 국영수사과 성적표

|반   | 학생 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 | 
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

In [55]:
columns = ["반","이름","국어","영어","수학","사회","과학"]
scores = [["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]]

df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; *예제를 통해 어떤식으로 값을 가져올 수 있는지 파악해봅시다.*

<br><br>

# \[ 1. Dataframe의 축 연산들 \]

----

----

> *`Dataframe`는 축을 기준으로 집계 계산하는, sum, mean, std, max, min 등의 연산을 지원합니다.*<br>
> *집계함수는 한 축이 갖는 여러 개의 값을 하나의 값으로 반환합니다.*

<br>

## 1. Dataframe에서의 평균 구하기

---

+ Dataframe에서는 간단히 축을 설정하는 것 만으로도 다양한 기준에 따른 연산 값을 구할 수 있습니다. <br>
+ axis의 value는 행인지 열인지를 결정해 주는 parameter입니다.

### (1) 열방향 평균 구하기

In [88]:
df.mean() # == df.mean(axis=0)

국어    82.142857
영어    84.428571
수학    75.142857
사회    74.142857
과학    83.571429
dtype: float64

* 평균을 구할 수 없는 반과 이름은 생략됩니다.

### (2) 행방향 평균 구하기

In [57]:
df.mean(axis=1)

0    79.8
1    81.8
2    72.8
3    72.2
4    86.4
5    86.8
6    83.6
dtype: float64

### (3) 특정 행 혹은 열 방향의 평균 구하기

In [58]:
# 특정 열에 대한 평균
df.국어.mean()

85.14285714285714

In [59]:
# 특정 행에 대한 평균
df.loc[0,"국어":"과학"].mean()

79.8

<br>

## 2. 이 외의 다양한 집계 연산들

---

+ Dataframe에서는 간단히 축을 설정하는 것 만으로도 다양한 기준에 따른 연산 값을 구할 수 있습니다. <br>
+ axis의 value는 행인지 열인지를 결정해 주는 parameter입니다.

### (1) 다양한 집계함수들

In [60]:
# 국어 총합 가져오기
df.국어.sum()

596

In [61]:
# 국어 최댓값 가져오기
df.국어.max()

96

In [62]:
# 국어 최솟값 가져오기
df.국어.min()

75

In [63]:
# 중앙값 가져오기
df.국어.median()

86.0

In [64]:
# 하위 30%의 성적 가져오기
df.국어.quantile(q=0.3)

79.4

In [65]:
# 표준편차 구하기
df.국어.std()

7.988086367179802

### (2) 값의 갯수를 세는 함수

In [0]:
# 각 반 별로 몇개의 행이 있는지 확인
a = df.반.value_counts()

In [67]:
# 현재 데이터에 어떤 반이 있는지 확인
df.반.unique()

array(['1반', '2반', '3반', '4반'], dtype=object)

<br>

## 3. 데이터 프레임 정렬하기

---

+ Dataframe에서는 index에 따라 정렬할 수 있고, value에 따라 정렬할 수 있습니다. <br>
+ 계층적으로 정렬할 수 있습니다.

### (1) 인덱스에 따라 정렬하기

* 행의 index을 정렬할 수있고, 열의 index를 정렬할 수 있습니다.

In [68]:
# 행 index 정렬하기
df.index = ['c','b','a','d','e','g','f'] 
print(df)
df.sort_index()

    반  이름  국어  영어  수학  사회  과학
c  1반  승기  80  92  70  65  92
b  1반  호동  91  75  90  68  85
a  2반  윤호  86  76  42  72  88
d  2반  성진  77  92  52  60  80
e  3반  서형  75  85  85  92  95
g  3반  대근  96  90  95  81  72
f  4반  준호  91  81  92  81  73

    반  이름  국어  영어  수학  사회  과학
a  2반  윤호  86  76  42  72  88
b  1반  호동  91  75  90  68  85
c  1반  승기  80  92  70  65  92
d  2반  성진  77  92  52  60  80
e  3반  서형  75  85  85  92  95
f  4반  준호  91  81  92  81  73
g  3반  대근  96  90  95  81  72

In [69]:
# 역방향으로 정렬
df.sort_index(ascending=False)

    반  이름  국어  영어  수학  사회  과학
g  3반  대근  96  90  95  81  72
f  4반  준호  91  81  92  81  73
e  3반  서형  75  85  85  92  95
d  2반  성진  77  92  52  60  80
c  1반  승기  80  92  70  65  92
b  1반  호동  91  75  90  68  85
a  2반  윤호  86  76  42  72  88

In [70]:
# 열 index 정렬하기
df.sort_index(axis=1)

   과학  국어   반  사회  수학  영어  이름
c  92  80  1반  65  70  92  승기
b  85  91  1반  68  90  75  호동
a  88  86  2반  72  42  76  윤호
d  80  77  2반  60  52  92  성진
e  95  75  3반  92  85  85  서형
g  72  96  3반  81  95  90  대근
f  73  91  4반  81  92  81  준호

column이 가나다 순으로 정렬된 것을 확인할 수 있습니다.

### (2) 값에 따라 정렬하기

* 값을 기준으로 정렬할 수 있습니다. 
* 이 때 우리는 복수개의 기준에 따라 정렬이 가능합니다.

In [71]:
df.sort_values('국어')

    반  이름  국어  영어  수학  사회  과학
e  3반  서형  75  85  85  92  95
d  2반  성진  77  92  52  60  80
c  1반  승기  80  92  70  65  92
a  2반  윤호  86  76  42  72  88
b  1반  호동  91  75  90  68  85
f  4반  준호  91  81  92  81  73
g  3반  대근  96  90  95  81  72

In [92]:
# 국어 성적이 같은 경우, 과학을 기준으로 정렬
df.국어[0:2] = [75, 75]
df.sort_values(['국어','과학'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    반  이름  국어  영어  수학  사회  과학
b  1반  호동  75  75  90  68  85
c  1반  승기  75  92  70  65  92
e  3반  서형  75  85  85  92  95
d  2반  성진  77  92  52  60  80
a  2반  윤호  86  76  42  72  88
f  4반  준호  91  81  92  81  73
g  3반  대근  96  90  95  81  72

<br>

## 1. Dataframe 순회하기

---

+ Dataframe에서는 행 방향으로 순회할 수 있도록 `iterrows`메소드를 제공합니다.
+ 열방향으로는 `iteritems`메소드를 제공합니다.

### (1) 행방향 순회하기

In [73]:
print(df,'\n')
for idx, row in df.iterrows():
    print("행 인덱스 : ", idx)
    print(row)

    반  이름  국어  영어  수학  사회  과학
c  1반  승기  75  92  70  65  92
b  1반  호동  75  75  90  68  85
a  2반  윤호  86  76  42  72  88
d  2반  성진  77  92  52  60  80
e  3반  서형  75  85  85  92  95
g  3반  대근  96  90  95  81  72
f  4반  준호  91  81  92  81  73

행 인덱스 :  c
반     1반
이름    승기
국어    75
영어    92
수학    70
사회    65
과학    92
Name: c, dtype: object
행 인덱스 :  b
반     1반
이름    호동
국어    75
영어    75
수학    90
사회    68
과학    85
Name: b, dtype: object
행 인덱스 :  a
반     2반
이름    윤호
국어    86
영어    76
수학    42
사회    72
과학    88
Name: a, dtype: object
행 인덱스 :  d
반     2반
이름    성진
국어    77
영어    92
수학    52
사회    60
과학    80
Name: d, dtype: object
행 인덱스 :  e
반     3반
이름    서형
국어    75
영어    85
수학    85
사회    92
과학    95
Name: e, dtype: object
행 인덱스 :  g
반     3반
이름    대근
국어    96
영어    90
수학    95
사회    81
과학    72
Name: g, dtype: object
행 인덱스 :  f
반     4반
이름    준호
국어    91
영어    81
수학    92
사회    81
과학    73
Name: f, dtype: object

국어 사회의 합이 수학 과학의 합보다 큰 학생들의 이름을 출력해보자

In [74]:
for idx, row in df.iterrows():
    if (row.국어 + row.사회)>(row.수학 + row.과학):
        print(row.이름)

윤호
성진
대근
준호

하지만 iterrow구문은 대체로 boolean 인덱싱 등 pandas에 내장된 함수의 동작보다 느리다.

In [75]:
%%timeit
name_list = []
for idx, row in df.iterrows():
    if (row.국어 + row.사회)>(row.수학 + row.과학):
        name_list.append(row.이름)

1000 loops, best of 3: 834 µs per loop

In [76]:
%%timeit
df.loc[(df.국어 + df.사회)>(df.수학 + df.과학),"이름"]

1000 loops, best of 3: 490 µs per loop

### (2) 열방향 순회하기

In [77]:
for idx, col in df.iteritems():
    print("열 인덱스 : ", idx)
    print(col)
    break

열 인덱스 :  반
c    1반
b    1반
a    2반
d    2반
e    3반
g    3반
f    4반
Name: 반, dtype: object

학생 평균 성적이 80점이 넘는 과목의 이름을 출력해보자

In [78]:
lecture_df = df[['국어',"영어","수학","과학","사회"]]
for idx, col in lecture_df.iteritems():
    if col.mean()>80:
        print(col.name)

국어
영어
과학

<br>

## 2. apply 변환하기

---

+ Dataframe에서는 행 방향 혹은 열 방향으로 함수를 적용하고자 할때 `apply`메소드를 이용합니다.
+ Series에서는 원소마다 적용할 때, `apply`메소드를 이용합니다.

In [79]:
lecture_df = df[['국어',"영어","수학","과학","사회"]]
lecture_df

    반  이름  국어  영어  수학  사회  과학
c  1반  승기  75  92  70  65  92
b  1반  호동  75  75  90  68  85
a  2반  윤호  86  76  42  72  88
d  2반  성진  77  92  52  60  80
e  3반  서형  75  85  85  92  95
g  3반  대근  96  90  95  81  72
f  4반  준호  91  81  92  81  73

   국어  영어  수학  과학  사회
c  75  92  70  92  65
b  75  75  90  85  68
a  86  76  42  88  72
d  77  92  52  80  60
e  75  85  85  95  92
g  96  90  95  72  81
f  91  81  92  73  81

### (1) dataframe의 행방향으로 적용하기

In [82]:
# 성적이 80점이 넘는 학생은 pass, 아니면 fail
lecture_df.apply(lambda x : "pass" if x.mean()>80 else "fail",
                 axis=1)

c    fail
b    fail
a    fail
d    fail
e    pass
g    pass
f    pass
dtype: object

### (2) dataframe의 열방향으로 적용하기

In [83]:
# 과목 평균 성적이 80점이 넘으면 easy, 아니면 hard
lecture_df.apply(lambda x : "easy" if x.mean()>80 else "hard",
                 axis=0)

국어    easy
영어    easy
수학    hard
과학    easy
사회    hard
dtype: object

### (3) dataframe의 모든 원소에 적용하기

In [84]:
# 성적이 80이 넘으면 Pass, 아니면 Fail
lecture_df.applymap(lambda x : "Pass" if x>80 else "Fail")

     국어    영어    수학    과학    사회
c  Fail  Pass  Fail  Pass  Fail
b  Fail  Fail  Pass  Pass  Fail
a  Pass  Fail  Fail  Pass  Fail
d  Fail  Pass  Fail  Fail  Fail
e  Fail  Pass  Pass  Pass  Pass
g  Pass  Pass  Pass  Fail  Pass
f  Pass  Pass  Pass  Fail  Pass

### (4) Series의 모든 원소에 적용하기

In [85]:
language_score = lecture_df.국어
language_score

c    75
b    75
a    86
d    77
e    75
g    96
f    91
Name: 국어, dtype: int64

In [86]:
# 국어 성적이 80이 넘으면 Pass, 아니면 Fail
language_score.apply(lambda x : "Pass" if x>80 else "Fail")

c    Fail
b    Fail
a    Pass
d    Fail
e    Fail
g    Pass
f    Pass
Name: 국어, dtype: object

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SangJae Kang ( rocketgrowthsj@publicai.co.kr )  last updated on 2019/03/04


---