## 복수 개의 Dataframe 조작하기

In [1]:
# 우선 실행해 주세요
import pandas as pd
import numpy as np

## 예제 데이터 ) 책에 대한 데이터 베이스


독자와 저자에 대한 책 정보들을 DataFrame으로 저장한 후, 다양하게 합쳐보겠습니다.<br>

#### 저자와 책에 대한 데이터셋

| 저자 | 책 |
|---|---|
|김훈|자전거여행|
|김훈|칼의노래|
|김훈|바다의기별|
|보통|불안|
|보통|철학의위안|
|보통|우리는사랑일까|
|보통|동물원에가기|

In [32]:
authors = [["김훈","자전거여행"],
["김훈","칼의노래"],
["김훈","바다의기별"],
["보통","불안"],
["보통","철학의위안"],
["보통","우리는사랑일까"],
["보통","동물원에가기"]]
author_df = pd.DataFrame(authors,columns=["저자",'책'])

#### 독자와 책에 대한 데이터셋
|독자|책|
|----|----|
|은욱|자전거여행|
|은욱|불안|
|은욱|우리는사랑일까|
|지수|현의노래|
|우진|현의노래|
|지원|불안|
|지원|칼의노래|
|민진|철학의위안|
|상무|불안|
|상무|우리는사랑일까|
|무진|자전거여행|
|우진|현의노래|
|희혜|사피엔스|

In [33]:
readers = [["은욱","자전거여행"],
["은욱","불안"],
["은욱","우리는사랑일까"],
["지수","현의노래"],
["우진","현의노래"],
["지원","불안"],
["지원","칼의노래"],
["민진","철학의위안"],
["상무","불안"],
["상무","우리는사랑일까"],
["무진","자전거여행"],
["우진","현의노래"],
 ["희혜","사피엔스"]]

reader_df = pd.DataFrame(readers,columns=["독자",'책'])

## 문제 1. Merge

* 작가 보통이 쓴 책을 읽은 독자들의 이름을 `numpy.array`로 가져와 주세요

In [34]:
# 우선 실행해 주세요
author_df = pd.DataFrame(authors,columns=["저자",'책'])
reader_df = pd.DataFrame(readers,columns=["독자",'책'])

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer1`에 담아주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [36]:
from numpy.testing import assert_array_equal

assert 'answer1' in globals(), "결과를 answer1 변수에 담아주세요!, answer1 값을 보고 평가합니다."

A = np.array(['은욱', '지원', '상무', '민진'], dtype=object)
A.sort()
answer1.sort()

assert_array_equal(A,answer1,
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!

## 문제 2. Concat

* 새로운 작가 더글러스가 쓴 책을 `author_df` 아래에 추가해 주세요.

#### 저자와 책에 대한 데이터셋

| 저자 | 책 |
|---|---|
|김훈|자전거여행|
|김훈|칼의노래|
|김훈|바다의기별|
|보통|불안|
|보통|철학의위안|
|보통|우리는사랑일까|
|보통|동물원에가기|
|더글러스|빅픽처|
|더글러스|템테이션|
|더글러스|모멘트|

In [37]:
# 우선 실행해 주세요
author_df = pd.DataFrame(authors,columns=["저자",'책'])

douglas = [
["더글러스","빅픽처"],
["더글러스","템테이션"],
["더글러스","모멘트"]]
douglas_df = pd.DataFrame(douglas,columns=['저자','책'])

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer2`에 담아주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [43]:
from numpy.testing import assert_array_equal

assert 'answer2' in globals(), "결과를 answer2 변수에 담아주세요!, answer2 값을 보고 평가합니다."

A = np.array([
["더글러스","빅픽처"],
["더글러스","템테이션"],
["더글러스","모멘트"]], dtype=object)

assert_array_equal(A,answer2.iloc[-3:].values,
               err_msg="\n정답은 \n{}\n입니다. 다시 확인해 주세요\n".format(A))

print("정답입니다!!!")

정답입니다!!!

## 문제 3. groupby

* 반별로 영어 성적의 최고 성적을 `pd.Series`로 구해주세요.

####  중간고사, 학생들의 국영수사과 성적표

|반   | 학생 이름 | 국어 | 영어 | 수학 | 사회 | 과학 |
|----|  ----   | --- |---| --- | --- | --- |
|1반 |승기 |80 |92 |70 | 65 | 92 |
|1반 |호동 |91 |75 |90 | 68 | 85 | 
|2반 |윤호 |86 |76 |42 | 72 | 88 |
|2반 |성진 |77 |92 |52 | 60 | 80 |
|3반 |서형 |75 |85 |85 | 92 | 95 |
|3반 |대근 |96 |90 |95 | 81 | 72 |
|4반 |준호 |91 |81 |92 | 81 | 73 |

In [45]:
#우선 실행해주세요
columns = ["반","이름","국어","영어","수학","사회","과학"]
scores = [["1반","승기",80,92,70,65,92],
         ["1반","호동",91,75,90,68,85],
         ["2반","윤호",86,76,42,72,88],
         ["2반","성진",77,92,52,60,80],
         ["3반","서형",75,85,85,92,95],
         ["3반","대근",96,90,95,81,72],
         ["4반","준호",91,81,92,81,73]]

df = pd.DataFrame(scores,columns=columns)
df

    반  이름  국어  영어  수학  사회  과학
0  1반  승기  80  92  70  65  92
1  1반  호동  91  75  90  68  85
2  2반  윤호  86  76  42  72  88
3  2반  성진  77  92  52  60  80
4  3반  서형  75  85  85  92  95
5  3반  대근  96  90  95  81  72
6  4반  준호  91  81  92  81  73

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer3`에 담아주세요

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [57]:
from pandas.testing import assert_series_equal

assert 'answer3' in globals(), "결과를 answer3 변수에 담아주세요!, answer3 값을 보고 평가합니다."

A = pd.Series({
    '1반': 75,
    '2반': 76,
    '3반': 85,
    '4반': 81},name='영어')

assert_series_equal(A,answer3,check_names=False)
print("정답입니다!!!")

정답입니다!!!

#  

---

    Copyright(c) 2019 by Public AI. All rights reserved.
    Writen by PAI, SangJae Kang ( rocketgrowthsj@publicai.co.kr )  last updated on 2019/03/04


---